<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
    <section id="feed-students">
        <h3 class="home-heading">List of Students</h3>

        <p>
            <a href="/students/addStudent">Add a student</a>
        </p>

        <ul class="d-flex list-container">
            <% for(student of students) { %>
                <li class="student-list">
                    <div class="student-card d-flex">
                        <p>
                            <%=student.name %>
                        </p>

                        <a href="/students/removeStudent/<%=student._id%>">X</a>
                    </div>

                    <p>Batch: <span>
                            <%= student.batch %>
                        </span></p>
                    <p>Staus: <span>
                            <%= student.status %>
                        </span></p>

                    <p>Scores:
                    <div class="scores">
                        <div class="score-heading">
                            <div>
                                DSA
                            </div>

                            <div>
                                Web Dev
                            </div>

                            <div>
                                React
                            </div>
                        </div>

                        <div class="scores-score">
                            <div>
                                <%= student.courseScore[0] %>
                            </div>

                            <div>
                                <%= student.courseScore[1] %>
                            </div>

                            <div>
                                <%= student.courseScore[2] %>
                            </div>
                        </div>
                    </div>
                    </p>

                    <div class="links">
                        <a href="/students/show-details/<%= student.id %>">View</a>
                        <a href="/students/edit-details/<%= student.id %>">Edit</a>
                    </div>
                </li>
                <% } %>
        </ul>
    </section>

    <section id="feed-interviews">
        <h3 class="home-heading">List of Interviews</h3>

        <p>
            <a href="/interviews/addInterview">Add a interview</a>
        </p>

        <ul class="d-flex list-container">
            <% for(interview of interviews) { %>
                <li class="student-list">
                    <div class="student-card d-flex">
                        <p>
                            <%= interview.company_name %>
                        </p>
                        <a href="/interviews/removeInterview/<%=interview._id%>">X</a>
                    </div>

                    <div>
                        <p>Date: <span>
                                <%= interview.date %>
                            </span></p>
                    </div>

                    <div class="links">
                        <a href="/interviews/show-details/<%= interview._id %>">View <%= interview.students.length %>
                                applied candidate.</a>
                    </div>
                </li>
                <% } %>
        </ul>
    </section>
</div>