<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">

<div id="home-container" class="mt-2">
    <section id="feed-students">
        <div class="heading d-flex justify-content-sm-between align-items-center">

            <h3 class="home-heading">List of Students</h3>

            <p>
                <a href="/students/addStudent">Add <i class="fa-solid fa-user-plus"></i></a>
            </p>
        </div>

        <ul class="d-flex list-container m-0">
            <% for(student of students) { %>
                <li class="student-list">
                    <div class="student-card d-flex">
                        <p>
                            <%=student.name %>
                        </p>

                        <a href="/students/removeStudent/<%=student._id%>"><i class="fa-solid fa-user-minus"></i></a>
                    </div>

                    <p>Batch: <span>
                            <%= student.batch %>
                        </span></p>
                    <p>Staus: <span>
                            <%= student.status %>
                        </span></p>

                    <p>Scores:
                    <div class="scores">
                        <div class="score-heading">
                            <div>
                                DSA
                            </div>

                            <div>
                                Web Dev
                            </div>

                            <div>
                                React
                            </div>
                        </div>

                        <div class="scores-score">
                            <div>
                                <%= student.courseScore[0] %>
                            </div>

                            <div>
                                <%= student.courseScore[1] %>
                            </div>

                            <div>
                                <%= student.courseScore[2] %>
                            </div>
                        </div>
                    </div>
                    </p>

                    <div class="links">
                        <a href="/students/show-details/<%= student.id %>">View</a>
                        <a href="/students/edit-details/<%= student.id %>">Edit</a>
                    </div>
                </li>
                <% } %>
        </ul>
    </section>

    <section id="feed-interviews">
        <div class="heading d-flex justify-content-sm-between align-items-center">
            <h3 class="home-heading">List of Interviews</h3>

            <p>
                <a href="/interviews/addInterview">Add <i class="fa-solid fa-square-plus"></i></a>
            </p>
        </div>

        <ul class="d-flex list-container">
            <% for(interview of interviews) { %>
                <li class="student-list">
                    <div class="student-card d-flex">
                        <p>
                            <%= interview.company_name %>
                        </p>
                        <a href="/interviews/removeInterview/<%=interview._id%>"><i
                                class="fa-solid fa-square-minus"></i></a>
                    </div>

                    <div>
                        <p>Date: <span>
                                <%= interview.date %>
                            </span></p>
                    </div>

                    <div class="links">
                        <a href="/interviews/show-details/<%= interview._id %>">View <%= interview.students.length %>
                                applied candidate.</a>
                    </div>
                </li>
                <% } %>
        </ul>
    </section>
</div>