<!-- <div class="form"> -->
<!-- <form action="/" method="POST">
        <div class="form-input">
            <input type="text" name="name" placeholder="Name: <%= interview.company_name%>" required disabled />
        </div>
        <div class="form-input">
            <input type="text" name="batch" placeholder="Date: <%= interview.date %>" required disabled />
        </div>
        <h3>Students Applied for this interview</h3>
        <%if(interview.students){%>
            <% for(student of interview.students){%>
                <div class="threeInput threeSubInput">
                    <div class="form-input threeSubInput">
                        <input class="subInput" type="text" name="company" placeholder="<%= student.student.name%>"
                            required disabled />
                    </div>
                    <div class="form-input threeSubInput">
                        <input class="subInput" type="text" name="result" placeholder="<%= student.result %>" disabled
                            required />
                    </div>
                </div>
                <%}%>
                    <%} %>

                        <div class="studentCardActions">
                            <div class="cardLinks">
                                <a href="/users/profile">Back</a>
                            </div>
                        </div>
    </form> -->

<div class="form-signin w-50 m-auto">

    <div class="m-2 text-light" style="margin-top: 2rem !important;">
        <h2>Interview Details</h2>
    </div>

    <form action="/interviews/edit-details/<%= interview._id %>" method="POST">
        <div class="form-floating m-2">
            <input id="floatingInput" type="text" class="form-control" value="<%=interview.company_name %>" required
                disabled />
            <label for="floatingInput">
                Company
            </label>
        </div>

        <div class="form-floating m-2">
            <input id="floatingEmail" type="text" class="form-control" value="<%= interview.date %>" required
                disabled />
            <label for="floatingEmail">
                Date
            </label>
        </div>


        <% if(interview.students.length> 0) {%>
            <div class="m-2 text-light" style="margin-top: 2rem !important;">
                <h2>Applied Students</h2>
            </div>

            <% for(student of interview.students){%>
                <div class="d-flex">
                    <div class="form-floating m-2">
                        <input id="floatingComp" type="text" class="form-control" value="<%= student.student.name %>"
                            required disabled />
                        <label for="floatingComp">
                            Name
                        </label>
                    </div>

                    <div class="form-floating m-2">
                        <select class="form-input" name="status" style="height: 100% !important;">
                            <optgroup label="Status" placeholder="Status">
                                <option name="pass" value="pass">PASS</option>
                                <option name="fail" value="fail">FAIL</option>
                                <option name="onHold" value="onHold">On hold</option>
                                <option name="didntAttempt" value="didntAttempt">Didn't Attempt</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <%}%>

                    <div class="form-input m-2">
                        <button class="w-100 btn btn-lg btn-primary " type="submit" value="Add Student">Update
                            Details</button>
                    </div>

                    <%}%>



                        <div class="m-2 d-flex justify-content-end">
                            <div>
                                <a href="/">Back</a>
                            </div>
                        </div>
    </form>
</div>