<link rel="icon" style="scale: 1;" type="image/x-icon" href="../../images/favicon.ico">

<div class="form-signin w-50 m-auto">

    <div class="m-2 text-light" style="margin-top: 2rem !important;">
        <h2>Student Details</h2>
    </div>

    <form action="" method="POST">
        <div class="form-floating m-2">
            <input id="floatingInput" type="text" class="form-control" value="<%=student.name %>" required disabled />
            <label for="floatingInput">
                Name
            </label>
        </div>
        <div class="form-floating m-2">
            <input id="floatingEmail" type="text" class="form-control" value="<%= student.email %>" required disabled />
            <label for="floatingEmail">
                Email
            </label>
        </div>
        <div class="form-floating m-2">
            <input id="floatingBatch" type="text" class="form-control" value="<%= student.batch %>" required disabled />
            <label for="floatingBatch">
                Batch
            </label>
        </div>

        <div class="form-floating m-2">
            <select class="form-input" value="<%= student.status %>">
                <option name="placed" value="Placed">
                    <%= student.status %>
                </option>
                </optgroup>
            </select>
        </div>

        <div class="d-flex">
            <div class="form-floating m-2">
                <input id="floatingDSA" class="form-control" value="<%= student.courseScore[0] %>" disabled />
                <label for="floatingDSA">DSA Score</label>
            </div>
            <div class="form-floating m-2">
                <input id="floatingWD" class="form-control" value="<%= student.courseScore[1] %>" disabled />
                <label for="floatingWD">WebDev Score</label>

            </div>
            <div class="form-floating m-2">
                <input id="floatingReact" class="form-control" value="<%= student.courseScore[2] %>" disabled />
                <label for="floatingReact">React Score</label>

            </div>
        </div>


        <% if(student.interview) {%>
            <div class="m-2 text-light" style="margin-top: 2rem !important;">
                <h2>Applied Companies</h2>
            </div>

            <% for(interview of student.interview){%>
                <div class="d-flex justify-content-between">
                    <div class="form-floating m-2">
                        <input id="floatingComp" type="text" class="form-control" value="<%= interview.company_name %>"
                            required disabled />
                        <label for="floatingComp">
                            Company
                        </label>
                    </div>

                    <div class="form-floating m-2">
                        <input id="floatingComp" type="text" class="form-control" value="<%= interview.date %>" required
                            disabled />
                        <label for="floatingComp">
                            Date
                        </label>
                    </div>

                    <div class="form-floating m-2">
                        <input id="floatingComp" type="text" class="form-control"
                            value="<%= interview.students[0].result %>" required disabled />
                        <label for="floatingComp">
                            Result
                        </label>
                    </div>
                </div>
                <%}%>
                    <%}%>

                        <div class="studentCardActions m-2 d-flex justify-content-end">
                            <div>
                                <a href="/">Back</a>
                            </div>
                        </div>
    </form>
</div>